body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: url("https://cdn.clipart.email/15a9e4e1423c3c2bd135108abbd68816_floral-seamless-pattern-with-leaf-vector-neutral-pastel--thumbnail.png");
}

table {
  width: 100%;
  max-width: 60rem;
  /* padding: 10px; */
  box-shadow: 5px 10px 8px #888888;
}

tr:nth-child(odd) {
  color: #ccc;
  font-weight: normal;
}
tr:nth-child(even) {
  color: #ccc;
  font-weight: normal;
}

th,
td {
  padding: 0.5rem 1rem;
}

th {
  font-weight: normal;

  color: black;
}

td {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;
  transition: opacity 0.3s ease;
  color: black;
}

td > span {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}

.stage-earth {
  background-color: #ffa726;
}
.stage-mercury1 {
  background-color: #9ccc65;
}
.stage-venus {
  background-color: #ff8a65;
}
.stage-mars {
  background-color: #b2e2c9;
}
.stage-jupiter {
  background-color: #81d4fa;
}
.stage-saturn {
  background-color: #26c6da;
}

h1 {font-family: 'Playball', cursive;
  font-size: 390%;
  /* font-family: 'Lobster', cursive; */
  text-align: center;
  padding: 10px;
  margin: 1%;
}
h2 {font-family: 'Playball', cursive;
  font-size: 230%;
  text-align: center;
  background-color: rgb(238, 232, 234);
  margin: 1%;
  opacity: 0.8;
}

.input { margin-bottom: 10px;
  background-color: #c0cbbe;
}

.header {
  box-shadow: 5px 10px 20px rgb(175, 59, 59) inset;
  opacity: 0.8;
  background-color: #e4a08f;
}

.hide {
  display: none;
}

::placeholder {
  color: rgb(129, 127, 127);
  opacity: 1;
}

#test-date {
  color: rgb(129, 127, 127);
}
.center {
  text-align: center;
}

.row {
  background-color: red;
}
.time {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(190, 190, 184);
}

table {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(190, 190, 184);
}

.fifteenblock {
  font-size: 9px;
  
}
